header {
  background-color: $headerBKcolor;
  padding: 1rem 0;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.24);

  .logo {
    width: 150px;
  }
  .top-menu {
    list-style-type: none !important;
    ul {
      margin-bottom: 0 !important;
      padding: 0;
    }
    li {
      a {
        display: block;
        padding: 0.25rem 1rem;
        color: $primaryColor;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}
