@import "../../node_modules/bootstrap/scss/bootstrap";

@import "colors";
@import "header";
@import "woocommerce";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  margin-bottom: 0;
}
