html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}
body {
    line-height: 1
}
:focus {
    outline: 0
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ""
}
blockquote,
q {
    quotes: "" ""
}
input,
textarea {
    margin: 0;
    padding: 0
}
.anti-alias {
    font-smooth: always;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}
.comunArrows {
    width: 0;
    height: 0;
    position: relative;
    line-height: 0
}
.animatedOut from {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity 100);
    opacity: 1
}
.animatedOut to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity 0);
    opacity: 0
}
@keyframes animationOut {
    from {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
    to {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
}
@-webkit-keyframes animationOut {
    from {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
    to {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
}
@-ms-keyframes animationOut {
    from {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
    to {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
}
@-moz-keyframes animationOut {
    from {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
    to {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
}
.animatedIn from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity 0);
    opacity: 0
}
.animatedIn to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity 100);
    opacity: 1
}
@keyframes animationIn {
    from {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
    to {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
}
@-webkit-keyframes animationIn {
    from {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
    to {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
}
@-ms-keyframes animationIn {
    from {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
    to {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
}
@-moz-keyframes animationIn {
    from {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity 0);
        opacity: 0
    }
    to {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity 100);
        opacity: 1
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    font-size:6px
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    font-size:6px
}
.animatedBg 0% {
    height: 0
}
.animatedBg 100% {
    height: 250%
}
@keyframes animationBg {
    0% {
        height: 0
    }
    100% {
        height: 250%
    }
}
@-webkit-keyframes animationBg {
    0% {
        height: 0
    }
    100% {
        height: 250%
    }
}
@-ms-keyframes animationBg {
    0% {
        height: 0
    }
    100% {
        height: 250%
    }
}
@-moz-keyframes animationBg {
    0% {
        height: 0
    }
    100% {
        height: 250%
    }
}
.animatedSkew_Neg to {
    transform: skewY(0deg)
}
@keyframes animationSkew_Neg {
    to {
        transform: skewY(0deg)
    }
}
@-webkit-keyframes animationSkew_Neg {
    to {
        transform: skewY(0deg)
    }
}
@-ms-keyframes animationSkew_Neg {
    to {
        transform: skewY(0deg)
    }
}
@-moz-keyframes animationSkew_Neg {
    to {
        transform: skewY(0deg)
    }
}
.animatedSkew_Pos to {
    transform: skewY(0deg)
}
@keyframes animationSkew_Pos {
    to {
        transform: skewY(0deg)
    }
}
@-webkit-keyframes animationSkew_Pos {
    to {
        transform: skewY(0deg)
    }
}
@-ms-keyframes animationSkew_Pos {
    to {
        transform: skewY(0deg)
    }
}
@-moz-keyframes animationSkew_Pos {
    to {
        transform: skewY(0deg)
    }
}
@keyframes animationExit {
    0% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
    }
    100% {
        -webkit-transform:translate(0,-40px);
        -moz-transform:translate(0,-40px);
        -ms-transform:translate(0,-40px);
        transform:translate(0,-40px);
    }
}

@-webkit-keyframes animationExit {
    0% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
    }
    100% {
        -webkit-transform:translate(0,-40px);
        -moz-transform:translate(0,-40px);
        -ms-transform:translate(0,-40px);
        transform:translate(0,-40px);
    }
}

@-ms-keyframes animationExit {
    0% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
    }
    100% {
        -webkit-transform:translate(0,-40px);
        -moz-transform:translate(0,-40px);
        -ms-transform:translate(0,-40px);
        transform:translate(0,-40px);
    }
}

@-moz-keyframes animationExit {
    0% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
    }
    100% {
        -webkit-transform:translate(0,-40px);
        -moz-transform:translate(0,-40px);
        -ms-transform:translate(0,-40px);
        transform:translate(0,-40px);
    }
}
.animatedEquipImg to {
    top: -100%
}
@keyframes animationEquipImg {
    to {
        top: -100%
    }
}
@-webkit-keyframes animationEquipImg {
    to {
        top: -100%
    }
}
@-ms-keyframes animationEquipImg {
    to {
        top: -100%
    }
}
@-moz-keyframes animationEquipImg {
    to {
        top: -100%
    }
}
.animatedTop 0% {
    top: 50px
}
.animatedTop 100% {
    top: 0
}
@keyframes animationTop {
    0% {
        top: 50px
    }
    100% {
        top: 0
    }
}
@-webkit-keyframes animationTop {
    0% {
        top: 50px
    }
    100% {
        top: 0
    }
}
@-ms-keyframes animationTop {
    0% {
        top: 50px
    }
    100% {
        top: 0
    }
}
@-moz-keyframes animationTop {
    0% {
        top: 50px
    }
    100% {
        top: 0
    }
}
.animatedTopExit 0% {
    top: 0
}
.animatedTopExit 100% {
    top: -50px
}
@keyframes animationTopExit {
    0% {
        top: 0
    }
    100% {
        top: -50px
    }
}
@-webkit-keyframes animationTopExit {
    0% {
        top: 0
    }
    100% {
        top: -50px
    }
}
@-ms-keyframes animationTopExit {
    0% {
        top: 0
    }
    100% {
        top: -50px
    }
}
@-moz-keyframes animationTopExit {
    0% {
        top: 0
    }
    100% {
        top: -50px
    }
}
@keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@-webkit-keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@-ms-keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@-moz-keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
.animatedLegal to {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px)
}
@keyframes animationLegal {
    to {
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px)
    }
}
@-webkit-keyframes animationLegal {
    to {
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px)
    }
}
@-ms-keyframes animationLegal {
    to {
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px)
    }
}
@-moz-keyframes animationLegal {
    to {
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px)
    }
}
.animatedDotOpacity 0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity 0);
    opacity: 0;
    top: 160px
}
.animatedDotOpacity 100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity 100);
    opacity: 1;
    top: 140px
}
.animatedStroke 0% {
    stroke-dashoffset: 500
}
.animatedStroke 100% {
    stroke-dashoffset: 0
}
@keyframes animationStroke {
    0% {
        stroke-dashoffset: 500
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-webkit-keyframes animationStroke {
    0% {
        stroke-dashoffset: 500
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-ms-keyframes animationStroke {
    0% {
        stroke-dashoffset: 500
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-moz-keyframes animationStroke {
    0% {
        stroke-dashoffset: 500
    }
    100% {
        stroke-dashoffset: 0
    }
}
@keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@-webkit-keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@-ms-keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@-moz-keyframes animationWidth {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@keyframes animationHeight {
    0% {
        height: 0
    }
    100% {
        height: 100%
    }
}
@-webkit-keyframes animationHeight {
    0% {
        height: 0
    }
    100% {
        height: 100%
    }
}
@-ms-keyframes animationHeight {
    0% {
        height: 0
    }
    100% {
        height: 100%
    }
}
@-moz-keyframes animationHeight {
    0% {
        height: 0
    }
    100% {
        height: 100%
    }
}
div {
    border: red 1px black
}
#content_dc {
    width: 466px;
    height: 58px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #98baad;
}
.scene,
.texto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center
}
.hideA {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity 0);
    opacity: 0
}
.logoFooter {
    width: 30px;
    height: 22px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
    z-index: 100;
    background: url('../img/logo.svg') top left no-repeat
}

.confianza {
    width: 107px;
    height: 34px;
    position: absolute;
    top: 16px;
    left: 170px;
    display: block;
    z-index: 3200;
    background: url('../img/logoConf.png') top left no-repeat;
	-webkit-animation: animationIn forwards 300ms ease-in 3400ms;
    -moz-animation: animationIn forwards 300ms ease-in 3400ms;
    -ms-animation: animationIn forwards 300ms ease-in 3400ms;
    animation: animationIn forwards 300ms ease-in 3400ms
}
#scene1 {
    width: 468px;
    height: 60px;
    top: 0;
    display: block;
    left: 0;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background-color: #98baad;
}
#content_scene1 {
    width: 160px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
 	 background-image: url('../img/bg1.jpg');
	z-index: 11;
}
.mask11{
    width: 150px;
    height: 14px; 
	left: 172px;
	 top: 6px;
    overflow: hidden;
    display: block;
    position: absolute
}


.mask14{
    width: 80px;
    height: 12px; 
	left: 172px;
	 top: 24px;
    overflow: hidden;
    display: block;
    position: absolute
}

.mask15{
    width: 80px;
    height: 12px; 
	left: 172px;
	 top: 31px;
    overflow: hidden;
    display: block;
    position: absolute
}

.texto1 {
    position: relative;
    color: #000000;
    display: block;
    top: 50px;
    z-index: 100
}
#texto11{
    width: 150px;
    height: 14px;
}


#texto14{
    width: 80px;
    height: 12px;
}
#texto15{
    width: 80px;
    height: 12px;
}


#texto11 {
    background: url('../img/texto_11.svg') top left no-repeat;
    -webkit-animation: animationTop forwards 500ms ease-out 500ms, animationExit forwards 500ms ease-out 4000ms;
    -moz-animation: animationTop forwards 500ms ease-out 500ms, animationExit forwards 500ms ease-out 4000ms;
    -ms-animation: animationTop forwards 500ms ease-out 500ms, animationExit forwards 500ms ease-out 4000ms;
    animation: animationTop forwards 500ms ease-out 500ms, animationExit forwards 500ms ease-out 4000ms;
}


#texto14 {
  	  background: url('../img/texto_14.svg') top left no-repeat;
    -webkit-animation: animationTop forwards 500ms ease-out 1400ms;
    -moz-animation: animationTop forwards 500ms ease-out 1400ms;
    -ms-animation: animationTop forwards 500ms ease-out 1400ms;
    animation: animationTop forwards 500ms ease-out 1400ms;
}
#texto15 {
  	  background: url('../img/texto_15.svg') top left no-repeat;
    -webkit-animation: animationTop forwards 500ms ease-out 1600ms;
    -moz-animation: animationTop forwards 500ms ease-out 1600ms;
    -ms-animation: animationTop forwards 500ms ease-out 1600ms;
    animation: animationTop forwards 500ms ease-out 1600ms;
}

.mask21{
    width: 180px;
    height: 14px; 
	left: 172px;
	 top: 6px;
    overflow: hidden;
    display: block;
    position: absolute
}




.mask23{
     width: 300px;
    height: 14px; 
		left: 172px;
	 top: 6px;
    overflow: hidden;
    display: block;
    position: absolute
}



.mask25{
   width: 240px;
    height: 14px; 
		left: 172px;
	 top: 6px;
    overflow: hidden;
    display: block;
    position: absolute
}





#texto21{
    width: 180px;
    height: 14px;
}


#texto23{
    width: 300px;
    height: 14px;
}


#texto25{
   width: 240px;
    height: 14px;
}




#texto21 {
    background: url('../img/texto_21.svg') top left no-repeat;
    -webkit-animation: animationTop forwards 500ms ease-out 4500ms, animationExit forwards 500ms ease-out 6500ms;
    -moz-animation: animationTop forwards 500ms ease-out 4500ms, animationExit forwards 500ms ease-out 6500ms;
    -ms-animation: animationTop forwards 500ms ease-out 4500ms, animationExit forwards 500ms ease-out 6500ms;
    animation: animationTop forwards 500ms ease-out 4500ms, animationExit forwards 500ms ease-out 6500ms;
}


#texto23 {
    background: url('../img/texto_23.svg') top left no-repeat;
    -webkit-animation: animationTop forwards 500ms ease-out 7000ms, animationExit forwards 500ms ease-out 9000ms;
    -moz-animation: animationTop forwards 500ms ease-out 7000ms, animationExit forwards 500ms ease-out 9000ms;
    -ms-animation: animationTop forwards 500ms ease-out 7000ms, animationExit forwards 500ms ease-out 9000ms;
    animation: animationTop forwards 500ms ease-out 7000ms, animationExit forwards 500ms ease-out 9000ms;
}


#texto25 {
    background: url('../img/texto_25.svg') top left no-repeat;
    -webkit-animation: animationTop forwards 500ms ease-out 9500ms;
    -moz-animation: animationTop forwards 500ms ease-out 9500ms;
    -ms-animation: animationTop forwards 500ms ease-out 9500ms;
    animation: animationTop forwards 500ms ease-out 9500ms;
}



#legal {
    top: 47px;
    left: 172px;
    width:160px;
    height: 12px;
    overflow: hidden;
    z-index: 500;
    position: absolute
}
p {
    width: 160px;
    font-size: 8px;
    font-family: Arial;
    color: #000;
    line-height: 8px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
	 background: url('../img/footer.svg') top left no-repeat;
    -webkit-animation: animationIn forwards 500ms ease 5000ms 1;
    -moz-animation: animationIn forwards 500ms ease 5000ms 1;
    -ms-animation: animationIn forwards 500ms ease 5000ms 1;
    animation: animationIn forwards 500ms ease 5000ms 1
}

.cta2 {
    width: 78px;
    height: 20px;
    position: absolute;
    top: 24px;
    left: 320px;
    display: block;
    z-index: 300;
    cursor: pointer;
	
	border: 1px solid #000000;
    border-radius: 4px;
	
    -webkit-animation: animationIn forwards 300ms ease-in 2000ms;
    -moz-animation: animationIn forwards 300ms ease-in 2000ms;
    -ms-animation: animationIn forwards 300ms ease-in 2000ms;
    animation: animationIn forwards 300ms ease-in 2000ms
}
.startmoving {
    background: url('../img/txtCTA.svg') top left no-repeat;
    width: 78px;
    height: 20px;
    background-size: 47px 16px;
    background-position: 0 0;
    overflow: hidden;
    margin: 2px 16px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-animation: animationIn forwards 200ms ease-in 1200ms;
    -moz-animation: animationIn forwards 200ms ease-in 1200ms;
    -ms-animation: animationIn forwards 200ms ease-in 1200ms;
    animation: animationIn forwards 200ms ease-in 1200ms
}

#container_dc {
    width: 466px;
    height: 58px;
    border: 1px solid #2f302f;
    position: relative;
    overflow: hidden;
    display: block;
    left: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#container_dc .animado.animado {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -khtml-user-select: paused;
    -ms-user-select: paused;
    animation-play-state: paused
}